<h1 mat-dialog-title>Veuillez entrez les informations du terrain</h1>
<div mat-dialog-content>
  <p>Nom du terrain</p>
  <mat-form-field>
    <input matInput  name="data.lieu">
  </mat-form-field>

  <p>Lieu du terrain</p>
  <mat-form-field>
    <input matInput  name="data.lieu">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary"  (click)="save(data.nom,data.lieu)">Poursuive!</button>
</div>
 