/* Structure */
table {
    width: 100%;
  }
  
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  
}
#add{
  margin-bottom: 1%;
  margin-left: 1%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 10%
}